@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap');

* {
	/*border: none;
	margin: 0px;
	padding: 0px;*/
	font-size: 32px;
	font-family: roboto;
}

body {
	border: 1px solid;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
}

.content {
	width: 640px;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	/*justify-content: center;*/
}

h1 {
	width: 100%;
	text-align: center;
}

h3 {
	margin: 0px;
	padding: 0px;
}

button {
	width: 100%;
}

#stnOptions {
	display: none;
}

#options_content {
	display: flex;
}

#options_content > div {
	border: 1px solid #000000;
	display: flex;
	flex: 1;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

#options_content > div > * {
	/*display: flex;*/
	flex-direction: column;
	justify-content: center;
}


/*#sltOperator {
	width: 64px;
}
*/
#txtFirstOperand {
	width: 128px;
	border-bottom: 1px solid #000000;
	text-align: right;
}

#txtSecondOperand {
	width: 128px;
	border-bottom: 1px solid #000000;
	text-align: right;
}

#txtOperator {
	position: absolute;
	margin-top: -20px;
	margin-left: -10%;
	border: 1px solid #000000;
	width: 32px;
	text-align: center;
}

#txtResult {
	width: 128px;
	border-bottom: 1px solid #000000;
	text-align: right;
}