@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap');

* {
	font-size: 32px;
	font-family: roboto;
}

body {
	display: flex;
	flex-direction: column;
}

body > * {
	width: 50%;
	margin: auto;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

#stnOptions {
	display: none;
	flex-direction: row;
}

#stnOptions div {
	padding: 0 16px 0 16px;
	display: flex;
	flex: 1;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#stnOptions > div > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#stnOptions p {
	margin: 0px;
}

#stnProblem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#stnProblem > div {
	display: flex;
	flex-direction: column;
}

input {
	border: 0px;
}

#txtFirstOperand {
	width: 128px;
	border-bottom: 1px solid #000000;
	text-align: right;
}

#txtSecondOperand {
	width: 128px;
	border-bottom: 1px solid #000000;
	text-align: right;
}

#txtOperator {
	border: 1px solid #000000;
	width: 32px;
	text-align: center;
}

#txtResult {
	border-bottom: 1px solid #000000;
	text-align: right;
}

#divStatistics {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#divStatistics > div {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center;
}

#divStatistics > div > div {
	width: 100%;

}

p {
	text-align: center;
}